h1 {
    color:rgb(10, 81, 214)
    }

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: aliceblue;
}

p {
    font-size: x-large;
}

h2 {
    color:rgb(110, 173, 255) 
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-size: xx-large;
}

.banner{
    display: block;
    margin: auto;
}

.sinistra{
    display: block;
    margin: auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.colonnacentro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;

}

.fumetticopertine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.immagini{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.immagini > *{
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
}

.pvsbs{
    background-color: rgb(139, 179, 255);
    height: 300;
}